$primary-light: #3F5262;
$primary: #2c3f51;
$primary-dark: #202f3c; 
$secondary: #00909e;
$secondary-light: #22A6B1;
$secondary-dark: #007784;

$danger: #DB3E00;

$background: #1b2126;
$white: #ffffff;
$black: #000000;
$darkest-grey: #222222;
$dark-grey: #5a5a5a;
$more-grey: #777777;
$grey: #949494;
$less-grey: #aaaaaa;
$light-grey: #dcdcdc;
$lighter-grey: #eeeeee;