@import './_colors.scss';

.none {
  border-color: transparent;
  background-color: transparent;
  color: $light-grey;
}

.none:hover {
  color: $white
}

.signUp, .signIn { 
  margin: 5px; 
}; 

.signUp, .signIn { 
  padding: 12px 16px;
  //border: 1px solid $secondary;
  //background-color: #072d91;
 //background-color: $secondary;
  //border-radius: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
};

.signUp:hover { 
  //background-color: darken($color: #072d91, $amount: 7%);
  text-decoration: underline;
};

.signIn:hover { 
  text-decoration: underline;
  color: darken($color: #0ef8f8, $amount: 15%) 
};

.secondary {
  width: 100%;
  background-color: $secondary;
  border-radius: 4px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 0 16px;
  box-sizing: border-box;
}

.secondary:hover {
  background-color: $secondary-light;
}

.secondary:active {
  background-color: $secondary-dark;
}

.demo { 
  width: 100%;
  background-color: rgb(218, 168, 32);
  border-radius: 4px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 0 16px;
  box-sizing: border-box;
}

.demo:hover {
  background-color: rgb(218, 150, 32);
}

.demo:active {
  background-color: rgb(218, 168, 32);
}

.btnIcon > * ~ * {
  margin-left: 4px;
}

.gold {
  background-color: $gold-dark;
}

.gold:hover {
  background-color: $gold;
}