.grid {
    zoom: 1;
    position: absolute;
    z-index: 1;
    /* display: flex;
    flex-wrap: wrap; */
}

.row {
    display: flex;

}
/* .outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.box {
    position: relative;
    height: 50px;
    width: 50px;
    border: 1px solid rgba(255, 255, 255, 0.411);
    margin-left: -1px;
    margin-bottom: -1px;
}

.container {
    width: 550px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(66, 66, 66);
}

.backgroundImage {
    /* position: absolute; */
    overflow: hidden;
    object-fit: none;
    height: 100%;
    width: 100%;
}

.empty {
    height: 1px;
    width: 1px;
}

.initialSetup{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    background-color: ivory;
    width: 650px;
    height: 45px;
    vertical-align: middle;
    margin: auto;
    border: 1px solid rgb(255, 0, 0);
    border-radius: 5px;
}

.initialSetup button{
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.initialInputs{
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.gridButtons{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.gridInputs{
    width: 20px;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
}

.lockButton{
    text-align: center;
    width: 70px;
}
.imageFile{
    display: none;
}