@import '../_colors.scss';
@import '../_font.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.messageContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding: 5px;
  overflow-y: auto;
  width: 100%;
}

.messageContainer img {
  max-height: 25px;
  max-width: 25px;
}

.messageComposerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 4px;
}

.messageComposerContainer textarea {
  background-color: $primary-dark;
  resize: none;
}

.messageComposerContainer button {
  background-color: $secondary;
  border-radius: 4px;
  margin-left: 4px;
  height: 1.6rem;
  width: 1.6rem;
  padding: 4px;
  text-align: center;
}

.messageDisplayWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 1px;
  border-bottom: 1px solid rgba($color: $black, $alpha: 0.3);
  width: 100%;
}

.messageBodyWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: right;
}

.timeStamp {
  margin: 12px;
}

.textAreaWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.textAreaWrapper textarea {
  width: 100%;
  line-height: 1.6rem;
  padding: 4px 4px;
}

.message {
  width: 100%;
}