@import '../_colors.scss';
@import '../_font.scss';

.gameContainer {
  width: 50%;
  height: 240px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  transition: all 0.2s;
}

.gameContainer:hover {
  padding: 0.8rem;
}

.cardBack {
  background-image: url('/snow_landscape.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  border-radius: 8px;
}

.card {
  background-color: $primary-dark;
  position: relative;
  flex: 1 1 auto;
  border-radius: 8px;
  z-index: 0;
  box-shadow: 2px 2px 5px $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding: 16px;
  cursor: pointer;
}

.card h1 {
  font-size: 2.4rem;
}