@import '../_colors.scss';
@import '../_font.scss';

.gameContainer {
  width: 50%;
  height: 240px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  position: relative;
  transition: all 0.2s;
}

.gameContainer:hover {
  padding: 0.8rem;
}

.cardBack {
  background-image: url('/snow_landscape.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  opacity: 0.5;
  z-index: -1;
  border-radius: 8px;
}

.cardContainer {
  flex: 1 1 auto;
  display: block;
}

.card {
  background-color: $primary-dark;
  position: relative;
  border-radius: 8px;
  height: 100%;
  z-index: 0;
  box-shadow: 2px 2px 5px $dark-grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  box-sizing: border-box;
  padding: 16px;
  cursor: pointer;
}

.card h1 {
  font-size: 2.4rem;
}

.dropdown { 
  position: absolute;
  display: inline-block;
  bottom: 3%;
  right: 2.5%;
}

.dropdownbtn { 
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: $primary-dark;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdowncontent {
  display: flex;
  flex-direction: column;
}
