@import '../_colors.scss';
@import '../_font.scss';

.logo {
  display: flex;
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 16px;
  text-shadow: 2px 2px 5px $dark-grey;
}

.logo > i {
  font-size: 6rem;
  margin-right: 8px;
}