@import '../_colors.scss';
@import '../_font.scss';

.container { 
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('/snow_landscape.webp');
  background-size: 100% auto;
  
}

.card { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white; 
  min-height: 60%;
  width: 23%;
  border: $primary-light 1px solid;
  border-radius: 5px;
}

.header { 
  padding-top: 10px;
  font-weight: bold;
  font-size: 32px;
}

.headshots {
  width: 200px;
  height: 200px;
}

.body { 
  padding: 10px 30px;
  font-size: 20px;
}

.links { 
  display: flex;
}

.github { 
  margin-left: 5px;
  font-size: 16px;
  width: 32px;
  padding-right: 10px;
}

.linkIN { 
  margin-left: 5px;
  font-size: 16px;
  width: 70px;
  height: 32px;
}