.index-carousel{
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    margin-top: 15px;
    
}
.carousel{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carousel-images{
    position: absolute;
    filter: brightness(75%); 
    height: 100%;
    width: 100%;
}
.carousel img{
   
    object-fit: fill;
}
#slide-1{
    height: 100%;
    width: 100%;
    /* object-fit: fill; */
    /* position: relative; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#slide-1 img{
    /* top: -50px */
}
#slide-2{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    /* top: 0; */
    transform: translateX(100%)
}

#slide-2 img{
    /* bottom: -50px; */
}


.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 50px;
    z-index: 2;
    left:0;
    right: 0;
    margin: auto;
    bottom: 25px;
}

.carousel-button{
    border: 1px solid white;
    background-color: transparent;
    height: 13px;
    width: 13px;
    border-radius: 10px;
}

.active{
    background-color: white;
}

.carousel-item{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1240px;
}

.carousel-text-header { 
    position: absolute;
    z-index: 1;
    left: 10;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

.carousel-text {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 1.8em;
    font-weight: 100;
    text-shadow: 3px 3px 5px #000000;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-text-button {
    position: relative;
    top: 30px;
    color: white;
    font-weight: 300;
    font-size: 1.5rem;
    background-color: rgb(255, 75, 0);
    border-radius: 4px;
    padding: 4px 19px;
}

.carousel-text-button:active {
    background-color: rgba(255, 77, 0, 0.822);
}

.github:hover {
    text-decoration: none;
    color: white;
}