@import '../_colors.scss';

.index-carousel{
    width: 100%;
    height: 720px;
    position: relative;
    margin: auto;
    margin-top: -15px;
    z-index: 0;
    
}
.carousel{
    height: 100%;
    position: relative;
    overflow: hidden;
    // border-radius: 10px;
    // border: 5px solid $secondary;
    z-index: 0;
}
.carousel-images{
    position: absolute;
    filter: brightness(75%); 
    height: 100%;
    width: 100%;
    z-index: 0;

}
.carousel img{
   
    object-fit: cover;
    z-index: 0;
   
}
#slide-1{
    height: 100%;
    width: 100%;
    align-items: center; 
    z-index: 0;
}


#slide-2{
    height: 100%;
    width: 100%;
    transform: translateX(100%)
}

.carousel-buttons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 50px;
    z-index: 2;
    left:0;
    right: 0;
    margin: auto;
    bottom: 25px;
}

.carousel-button{
    border: 1px solid white;
    background-color: transparent;
    height: 13px;
    width: 13px;
    border-radius: 10px;
}

.active{
    background-color: white;
}

.carousel-item{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1240px;
}

.carousel-text-header { 
    position: absolute;
    z-index: 1;
    left: 32%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: white;
}

.carousel-text {
    width: 100%;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: 100;
    text-shadow: 3px 3px 5px #000000;
    left: 0;
    right: 0;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-text > h3{
    font-size: 4rem;
}

.carousel-text-button {
    position: relative;
    top: 160px;
    color: white;
    font-weight: 300;
    font-size: 2rem;
    background-color: $secondary;
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px 35px;
    box-shadow: 4px 4px 1px $darkest-grey;
    width: 200px;
}

.carousel-text-button:hover {
    background-color: $primary;
    color: $light-grey;
    border: 1px solid $light-grey;
}

.carousel-text-button:active {
    background-color: $secondary-dark;
}

.github:hover {
    text-decoration: none;
    color: white;
}