@import '../_colors.scss';
@import '../_font.scss';

.background {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 100px;
}
.background::after {
  content: "";
  background-image: url('/snow_landscape.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: blur(4px);
  opacity: 0.5;
  z-index: -1;
}

.hero {
  color: $primary-dark;
  padding-left: 32px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;
  box-sizing: border-box;
  text-align: center;
}

.hero h1 {
  font-size: 8rem;
  line-height: 7rem;
  font-family: "Raleway";
  font-weight: 900;
}

.hero h2 {
  margin-top: 10px;
  font-size: 2rem;
  color: $primary;
}

.header { 
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  z-index: 1;
  width: 960px;
}
.headerContent { 
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

// .absolute { 
//   position: absolute;
//   border: 1px solid black;
//   margin-left: 10px;
//   width: 25%;
// }
.hookBox { 
  margin: auto;
  width: 65%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.hookBox > section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.hook { 
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: left;
}

.hookBody { 
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
}

.hookTagline { 
  font-size: 4rem;
  line-height: 7rem;
  font-family: "Raleway";
  font-weight: 900;
  margin: 0 200px;
  color: $lighter-grey;
  text-shadow: 4px 4px 1px $darkest-grey;
}

main{
  width:100%;
}

.ornament{
  display: inline;
  width: 600px;
  height: 100px;
}

.ornamentWrapper {
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translate(-50%, 0);
}

.footerLogin{
  padding: 15px 25px;
  background-color: $secondary;
  width: 150px;
  margin: auto;
  color: white;
  border: 1px solid $primary-dark;
  border-radius: 10px;
  font-size: 1.7rem;
  margin-top: 50px;
  box-shadow: 4px 4px 1px $darkest-grey;
}

.footerLogin:hover {
  padding: 15px 25px;
  background-color: $primary-dark;
  width: 150px;
  margin: auto;
  color: $light-grey;
  border: 1px solid $light-grey;
  border-radius: 10px;
  font-size: 1.7rem;
  margin-top: 50px;
  box-shadow: 4px 4px 1px $darkest-grey;
}

.heroImage {
  border: 4px solid rgba(	0, 144, 158, 0.7);;
  border-radius: 7%;
  box-shadow: 2px 2px 4px $darkest-grey;
}

.hookBox section div {
  padding: 12px;
}

.summary {
  margin-top: 20px;
  margin-bottom: 20px;
}

.ctaWrapper {
  border-top: 2px solid $secondary;
  width: 100%;
  height: 400px;
  background: $primary-light;
  position: relative;
}

.callToAction {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
  height: 80%;
}

.featuresHeader {
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 5rem;;
  font-weight: 900;
  border-bottom: 2px solid $secondary;
}

.hookBody li {
  font-size: 1.7rem;
  line-height: 5rem;;
}

.summary li span {
  padding: 10px;
}