@import '../_colors.scss';
@import '../_font.scss';

.background {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.background::after {
  content: "";
  background-image: url('/snow_landscape.webp');
  background-size: 100% auto;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  filter: blur(4px);
  opacity: 0.5;
  z-index: -1;
}

.hero {
  color: $primary-dark;
  padding-left: 32px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;
  box-sizing: border-box;
}

.hero h1 {
  font-size: 8rem;
  line-height: 7rem;
  font-family: "Raleway";
  font-weight: 900;
}

.hero h2 {
  margin-top: 10px;
  font-size: 2rem;
  color: $primary;
}

.header { 
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  z-index: 1;
  width: 960px;
}
.headerContent { 
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

// .absolute { 
//   position: absolute;
//   border: 1px solid black;
//   margin-left: 10px;
//   width: 25%;
// }
  .hookBox { 
    margin: auto;
    margin-top: 20px;
    width: 60%;
  }

.hook { 
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 10px;
}

.hookBody { 
  font-size: 16px;
  margin-bottom: 10px;
}

.hookTagline { 
  font-size: 28px;
}