@import "../_colors.scss";
@import "../font.scss";

.footer {
  height: auto;
  width: 100%;
  background-color: $light-grey;
  border-top: 1px solid $dark-grey;
}

.footer ul {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer li {
  padding: 0px 32px;
}

.footer img {
  width: 32px;
  font-size: $small;
}



