.headerContainer { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
}

.navRight { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
}